

.hero{
    width: 100%;
    height: 100vh;
    /* background-image: url("/Images/1236512.jpg"); */
    background-image: url("/Images/4889208926_c24e3744e1_o.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* section{
    min-height: 100vh;
    align-items: center;
} */
.navigation{
    width: 100%;
}

.sticky{
    position: fixed;
    top: 0;
    width: 200%;
    background-color: black;
    z-index: 3;
  }

.navbar .butns{
    /* display: inline; */
    padding: 10px;
    margin-left: 20px;
    font-size: 20px;
}

.highlight{
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-family: 'Exo', sans-serif;;
    align-items: center;
    left: 0%;
    transition: 0.6s;
    border-radius: 50%;
    
} 

.highlight::after{
    content: "";
    position: absolute;
    background-color: rgb(255, 81, 0);
    /* background-color:gray; */
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    border-radius: 4px;
    transition: ease-out 0.3s all;
    /* transform: translate(0 , -8px); */
}
.highlight:hover::after{
    transform: translate(0 , -8px);
    width: 100%;
}


.Responsive-headline{
    font-family: 'Exo', sans-serif;;
    margin-left: 7vw;
    margin-top: 17.5vw;
    color: white;
    font-size: 35px;
}

#cont{
    margin-left: 1.75vw;
    width: 55.125vw;
}
@keyframes appear {
    from{
        top:0%
    }
    to{
        top: 50%;
    }
}
#cols1{
    display: table-cell;
    text-align: center;
}


.scroll-down{
    position: absolute;
    cursor: pointer;
    left: 48.15%;
    bottom: 8px;
    border: 2px solid rgb(255, 81, 0);
    /* border: 2px solid gray; */
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: 0.3s all;
    animation: scroll-down 1.5s ease-out infinite;
    
    
}

.scroll-down::before,
.scroll-down::after{
    content: "";
    left: 50%;
    top: 20px;
    position: absolute;
    border: 6px solid white;
    width: 20px;
    height: 20px;
    transform: translate(-50% , -51%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    transition: 0.3s all;
    z-index: 0;
}
.scroll-down:hover::after::before{
    transform: scale(1.2);
}
.scroll-down:hover{
    background-color: rgb(255, 81, 0);
    /* background-color: gray; */
    transform: scale(1.2);
}

.scroll-up{
    position: absolute;
    cursor: pointer;
    top: -25px;
    left: 48.15%;
    bottom: 8px;
    border: 2px solid rgb(255, 81, 0);
    background-color: rgb(255, 81, 0);
    border-radius: 50%;
    box-shadow: 0 0 15px black;
    height: 50px;
    width: 50px;
    transition: 0.3s all;
}

.scroll-up::before,
.scroll-up::after{
    content: "";
    left: 50%;
    top: 20px;
    position: absolute;
    border: 6px solid white;
    width: 20px;
    height: 20px;
    transform: translate(-50% , -20%) rotate(225deg);
    border-top: transparent;
    border-left: transparent;
    transition: 0.3s all;
    z-index: 0;
}
.scroll-up:hover::after::before{
    transform: scale(1.2);
}
.scroll-up:hover{
    background-color: rgb(255, 81, 0);
    /* background-color: gray; */
    transform: scale(1.2);
}
@keyframes scroll-down{
    
    0% {bottom: 20px;}
    50%{bottom: 6px;}
    100%{bottom: 20px;}
}



.line::after{
    content: "";
    position: absolute;
    background-color: rgb(255, 81, 0);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: ease-out 0.3s all;
    border-radius: 4px;
    transform: translate(0 , -8px);
}

/* Footer */

.footer{
    color: white;
    /* background-color:rgba(0, 0, 0, 0.651); */
    background-color: rgba(0, 0, 0, 0.795);
    height: 200px;
    position: relative;
  }
  
  .footer .footer-bottom{
    text-align: center;
    padding-top: 15px;
    height: 50px;
    position: absolute;
    /* top: 100px; */
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.651);
  }
  
  .social-menu ul {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
  }
  .social-menu ul li {
    list-style: none;
    margin: 0 10px;
  }
  .social-menu ul li .fa {
    color: white;
    font-size: 27px;
    line-height: 45px;
    transition: .5s;
  }
  .social-menu ul li .fa:hover {
    color:  #3b5999;
    text-shadow: 0  0 15px  #3b5999;
  }
  .social-menu ul li a {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  }
  .social-menu ul li::before{
    content: " ";
    position: absolute;
    /* background-color: rgb(255, 81, 0); */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transform: scale(0.9);
    transition: 0.5s;
  }
  .social-menu ul li:hover::before{
    transform: scale(1.4);
    /* box-shadow: 0 0 15px #3b5999; */
    filter: blur(3px);
  }

  .social-menu ul li:nth-child(1):before{
    background-color: #3b5999;
  }
  .social-menu ul li:nth-child(2):before{
    background:linear-gradient(#515BD4,#8134AF,#DD2A7B,#FEDA77 ,#F58529);
  }
  .social-menu ul li:nth-child(3):before{
    background-color: #8e44ad;
  }
  .social-menu ul li:nth-child(4):before{
    background-color: #0077B5;
  }
  

  .social-menu ul li:nth-child(1) .fa:hover {
    color: #3b5999;
  }
  .social-menu ul li:nth-child(2) .fa:hover {
    color: #DD2A7B;
  }
  .social-menu ul li:nth-child(3) .fa:hover {
    color: #8e44ad;
  }
  .social-menu ul li:nth-child(4) .fa:hover {
    color: #0077B5;
  }
  