.hero{
    width: 100%;
    height: 100vh;
    background-image: url("/Images/1236512.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.navbar .butns{
    /* display: inline; */
    padding: 10px;
    margin-left: 20px;
    font-size: 20px;
}

.navbar .butns a{
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-family: 'Zen Dots', cursive;
    /* justify-content: space-evenly; */
    align-items: center;
    color: white;
    left: 0%;
    transition: 0.6s;
    border-radius: 50%;
    
} 

.navbar .butns :hover{
    transform:scale(1.2);

}

.navbar .butns a::after{
    content: "";
    position: absolute;
    background-color: rgb(255, 81, 0);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: ease-out 0.3s all;
}
.navbar .butns a:hover::after{
    width: 100%;
    transform: scale(1.2);
}

.Responsive-headline{
    font-family: 'Zen Dots', cursive;
    margin-left: 7vw;
    margin-top: 17.5vw;
    color: white;
    font-size: 35px;
}

#cont{
    margin-left: 1.75vw;
    width: 55.125vw;
}
.column{
    display: table-cell;
    /* width: 50%; */
    text-align: center;
}
